
table, td, th {
    border: 1px solid black;
  }
  /* The navy bar to drink navys*/
  .navbar{
      overflow: hidden;
      background-color:#223b6a;
      position:fixed;
      top:0;
      width:100%;
  }
  /*links inside the drinking navy bar*/
  .navbar a{
      float: right;
      display:block;
      color:white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
.navbar a:hover {
    background: #ddd;
    color:black;
}
.main{
    margin-top:40px;
}
button{
    background-color:#4caf50;
    text-align: center;
    display:inline-block;
    font-size:16px;
    text-decoration: none;
    color: white;
    padding: 14px 16px
}

button a{
    color: white;
    background-color:#4caf50 ;
    font-size:20px;
    
}


.imgresponsive{
    widows: 100%;
    height:auto
}
body{
    float:left;
}
#signup{
    color:red;
}
.footer{
    overflow: hidden;
      background-color:#223b6a;
      bottom:0;
      width:100%;
      padding:2%;
      color:white;
      text-align:center;
}
.coloum{
    float:left;
    widows: 33.33%;
    padding:70px;

}
.row::after{
    content:"";
    clear:both;
    display:table;
}
figure{
    display:inline-block;
}
#hello{
    color:white;
}